/* https://github.com/sashakoshka/arctica */
:root{
--arc0:  #242933;
--arc1:  #2e3440;
--arc2:  #3b4252;
--arc3:  #4c566a;
--arc4:  #eceff4;
--arc5:  #d8dee9;
--arc6:  #c2c9d6;
--arc7:  #aeb7c6;
--arc8:  #a8555d;
--arc9:  #b77763;
--arc10: #cdb179;
--arc11: #8ba277;
--arc12: #769b9b;
--arc13: #72a1ae;
--arc14: #5e81ac;
--arc15: #92738c;
--arc16: #bf616a;
--arc17: #d08770;
--arc18: #ebcb8b;
--arc19: #a3be8c;
--arc20: #8fbcbb;
--arc21: #88c0d0;
--arc22: #81a1c1;
--arc23: #b48ead;
}
